﻿@model WorkshopMongodb.Models.UserModels
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form name="UserForm" action="/User/Create" method="post">
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Firstname)
                @Html.TextBoxFor(m => m.Firstname)
            </li>
            <li>
                @Html.LabelFor(m => m.Lastname)
                @Html.TextBoxFor(m => m.Lastname)
            </li>
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
</form>