﻿@{
    ViewBag.Title = "Index";
}

@model List<WorkshopMongodb.Models.UserModels>

<h2>Index</h2>

<p>This is user lists</p>

<a href="/User/Create">Add New User</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>
                    <a href="/User/Edit/0">Edit</a>
                    <a href="/User/Delete/0" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

